.search-button{
    background: #8cc7b4;
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid ;
}
.search-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    

    
}
.search-input{
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid #262419;
}