* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: azure !important;
}

.meal-card {
  text-decoration: none;
  background: linear-gradient(to bottom, #0c2a27, #8cc7b4);

  border: 1px solid #262419;
  border-radius: 8px;
  padding: 12px;
  margin: 4px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.meal-card:hover {
  transform: scale(1.05);
}

.meal-title {
  font-size: 1.5em;
  margin-bottom: 8px;
  text-align: center;
}

.meal-description {
  padding-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
text-align: justify;
  font-size: 1em;
  color:white;
}

.meal-price {
  font-weight: bold;
  color: #333;
  text-align: center;
}

.meal-image {
  border: 1px solid #262419;
  width: 100%;
  height: 40%;
  display: block;
}
.view-all-meals-button {
  background-color: #f9b1ba;
}
