* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  
  
  background:  linear-gradient(to right, #0c2a27, #8cc7b4);
  ;
      min-height: 100vh; 
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}
